* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$balck: #141718;
$green: #38cb89;
$grey: #6c7275;
$light-grey: #e8ecef;
a {
  text-decoration: none;
}

.sign-up {
  display: flex;
  .left {
    position: relative;
    width: min(50vw,936px);

    .img {
      width: 100%;
      height: 100%;
    }

    .logo {
      position: absolute;
      top: 32px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .right {
    max-width:  456px;
    margin: 220px auto;

    button {
      width: 100%;
      padding-block: 10px;
      background-color: $balck;
      color: #fff;
      border: none;
      border-radius: 8px;
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: -0.4000000059604645px;
      text-align: center;
      cursor: pointer;
    }
    .privacy {
      display: flex;
      margin-block: 32px;
      align-items: center;
      gap: 12px;
      color: $grey;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      text-align: left;

      span {
        color: $balck;
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        font-weight: 600;
        line-height: 26px;
        text-align: left;
      }
    }
    h1 {
      font-family: "Poppins", sans-serif;
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 44px;
      margin-bottom: 24px;
      letter-spacing: -0.4000000059604645px;
      text-align: left;
      color: $balck;
    }
    p {
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
      margin-bottom: 32px;

      span a {
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: $green;
      }
    }

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 32px;
      input {
        height: 40px;
        border: none;
        border-bottom: 1px solid $light-grey;
        padding: 2px 6px;
        width: 100%;
      }

      input::placeholder {
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
      }
    }

    input:last-child {
      position: relative;
    }

    .eye-icon {
      position: absolute;
      right: 0;
    }
  }

  .password-container {
    position: relative;
  }

  .password-container input[type="password"] {
    padding-right: 30px; /* Adjust as needed to make space for the icon */
  }

  .password-container .eye-icon {
    position: absolute;
    right: 5px; /* Adjust as needed for positioning */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}


@media screen and (max-width:1000px){
    .sign-up{
        flex-direction: column;
    }
    .sign-up .left{
        width: 100vw;
    }
}